<div>
  <auto-user-provision-toggle
    value="$ctrl.settings.AutoCreateUsers"
    on-change="($ctrl.onAutoUserProvisionChange)"
    description="'启用自动用户预配后，Portainer 会自动创建标准用户，并将其分配到与 LDAP 组名匹配的团队中。若禁用此功能，则必须先在 Portainer 中手动创建用户。'"
  ></auto-user-provision-toggle>

  <box-selector
    style="margin-bottom: 0"
    radio-name="'ldap-server-type-selector'"
    value="$ctrl.settings.ServerType"
    options="$ctrl.boxSelectorOptions"
    on-change="($ctrl.onChangeServerType)"
    slim="true"
    label="'服务器类型'"
  ></box-selector>

  <ldap-settings-custom
    ng-if="$ctrl.settings.ServerType === $ctrl.SERVER_TYPES.CUSTOM"
    settings="$ctrl.settings"
    tlsca-cert="$ctrl.tlscaCert"
    state="$ctrl.state"
    on-tlsca-cert-change="($ctrl.onTlscaCertChange)"
    connectivity-check="$ctrl.connectivityCheck"
    on-search-users-click="($ctrl.searchUsers)"
    on-search-groups-click="($ctrl.searchGroups)"
    on-save-settings="($ctrl.onSaveSettings)"
    save-button-state="($ctrl.saveButtonState)"
    save-button-disabled="$ctrl.isLdapFormValid"
  ></ldap-settings-custom>
  <ldap-settings-open-ldap
    ng-if="$ctrl.settings.ServerType === $ctrl.SERVER_TYPES.OPEN_LDAP"
    settings="$ctrl.settings"
    tlsca-cert="$ctrl.tlscaCert"
    state="$ctrl.state"
    on-tlsca-cert-change="($ctrl.onTlscaCertChange)"
    connectivity-check="$ctrl.connectivityCheck"
    on-search-users-click="($ctrl.searchUsers)"
    on-search-groups-click="($ctrl.searchGroups)"
    on-save-settings="($ctrl.onSaveSettings)"
    save-button-state="($ctrl.saveButtonState)"
    save-button-disabled="$ctrl.isLdapFormValid"
  ></ldap-settings-open-ldap>
</div>
