<page-header
  ng-if="ctrl.state.viewReady"
  title="'创建密钥'"
  breadcrumbs="[{ label:'ConfigMap 与密钥', link:'kubernetes.configurations', linkParams:{ tab: 'secrets' } }, '创建密钥']"
  reload="true"
></page-header>

<kubernetes-view-loading view-ready="ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="ctrl.state.viewReady">
  <div class="row">
    <div class="col-xs-12">
      <rd-widget>
        <rd-widget-body>
          <form class="form-horizontal" name="kubernetesConfigurationCreationForm" autocomplete="off">
            <!-- resource-pool -->
            <div class="form-group" ng-if="ctrl.formValues.ResourcePool">
              <label for="resource-pool-selector" class="col-sm-3 col-lg-2 control-label text-left">命名空间</label>
              <div class="col-sm-8 col-lg-9">
                <select
                  class="form-control"
                  id="resource-pool-selector"
                  ng-model="ctrl.formValues.ResourcePool"
                  ng-options="resourcePool.Namespace.Name for resourcePool in ctrl.resourcePools"
                  ng-change="ctrl.onResourcePoolSelectionChange()"
                  data-cy="k8sConfigCreate-namespaceDropdown"
                ></select>
              </div>
            </div>
            <div class="form-group" ng-if="ctrl.state.resourcePoolHasQuota && ctrl.resourceQuotaCapacityExceeded() && ctrl.formValues.ResourcePool">
              <div class="col-sm-12 small text-warning vertical-center">
                <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                此命名空间的资源容量已耗尽，你将无法部署该配置。请联系管理员扩展该命名空间的容量。
              </div>
            </div>
            <div class="form-group" ng-if="!ctrl.formValues.ResourcePool">
              <div class="col-sm-12 small text-warning vertical-center">
                <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                你无权访问任何命名空间。请联系管理员为你授予命名空间访问权限。
              </div>
            </div>
            <!-- !resource-pool -->

            <!-- name -->
            <div class="form-group">
              <label for="configuration_name" class="col-sm-3 col-lg-2 control-label required text-left">名称</label>
              <div class="col-sm-8 col-lg-9 mb-0">
                <input
                  type="text"
                  data-cy="k8sConfigCreate-nameInput"
                  class="form-control"
                  id="configuration_name"
                  name="configuration_name"
                  ng-model="ctrl.formValues.Name"
                  ng-pattern="/^[a-z0-9]([a-z0-9-.]{0,61}[a-z0-9])?$/"
                  ng-change="ctrl.onChangeName()"
                  placeholder="例如 my-secret"
                  auto-focus
                  required
                />
                <div ng-show="kubernetesConfigurationCreationForm.configuration_name.$invalid || ctrl.state.alreadyExist">
                  <div class="help-block small text-warning">
                    <div ng-messages="kubernetesConfigurationCreationForm.configuration_name.$error">
                      <p ng-message="required" class="vertical-center"><pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon> 此字段为必填项。</p>
                      <p ng-message="pattern" class="vertical-center"
                        ><pr-icon icon="'alert-triangle'" mode="'warning'" class="vertical-center"></pr-icon> 此字段必须由小写字母、数字、'-' 或 '.' 组成，最多 63 个字符，且必须以字母或数字开头和结尾。</p
                      >
                    </div>
                    <p ng-if="ctrl.state.alreadyExist" class="vertical-center"
                      ><pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon> 所选命名空间中已存在同名配置。</p
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- !name -->

            <div class="col-sm-12 !p-0">
              <annotations-be-teaser></annotations-be-teaser>
            </div>

            <div ng-if="ctrl.formValues.ResourcePool">
              <div class="col-sm-12 form-section-title"> 信息 </div>
              <div class="form-group">
                <div class="col-sm-12 small text-muted vertical-center">
                  <pr-icon icon="'info'" mode="'primary'"></pr-icon>
                  <span>
                    关于密钥类型的更多信息可参考官方
                    <a class="hyperlink" href="https://kubernetes.io/docs/concepts/configuration/secret/#secret-types" target="_blank">Kubernetes 文档</a>。
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="configuration_data_type" class="col-sm-3 col-lg-2 control-label text-left">类型</label>
                <div class="col-sm-8 col-lg-9">
                  <select
                    class="form-control"
                    id="configuration_data_type"
                    ng-model="ctrl.formValues.Type"
                    ng-options="value.value as value.name for (name, value) in ctrl.KubernetesSecretTypeOptions"
                    ng-change="ctrl.onSecretTypeChange()"
                    data-cy="k8sConfigCreate-typeDropdown"
                  ></select>

                  <div class="col-sm-3 col-lg-2"></div>
                </div>
                <div ng-if="ctrl.formValues.Type === ctrl.KubernetesSecretTypeOptions.SERVICEACCOUNTTOKEN.value" class="col-sm-12 small text-warning vertical-center pt-5">
                  <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                  <span
                    >仅当你无法使用 TokenRequest API 获取令牌，并且能够接受将不会过期的令牌凭据持久化到可读取 API 对象所带来的安全风险时，才应创建服务账号令牌 Secret 对象。<br />详见
                    <a href="https://kubernetes.io/docs/concepts/configuration/secret/#service-account-token-secrets" target="_blank">服务账号令牌密钥</a>
                    的 Kubernetes 文档。</span
                  >
                </div>
                <div ng-if="ctrl.formValues.Type === ctrl.KubernetesSecretTypeOptions.DOCKERCFG.value" class="col-sm-12 small text-muted vertical-center pt-5">
                  <pr-icon icon="'info'" mode="'primary'"></pr-icon>
                  <span>请确保 Secret 的数据字段包含 <code>.dockercfg</code> 键，其值为旧版 <code>~/.dockercfg</code> 文件内容。</span>
                </div>
                <div ng-if="ctrl.formValues.Type === ctrl.KubernetesSecretTypeOptions.DOCKERCONFIGJSON.value" class="col-sm-12 small text-muted vertical-center pt-5">
                  <pr-icon icon="'info'" mode="'primary'"></pr-icon>
                  <span>请确保 Secret 的数据字段包含 <code>.dockerconfigjson</code> 键，其值为 <code>~/.docker/config.json</code> 文件内容。</span>
                </div>
                <div ng-if="ctrl.formValues.Type === ctrl.KubernetesSecretTypeOptions.TLS.value" class="col-sm-12 small text-muted vertical-center pt-5">
                  <pr-icon icon="'info'" mode="'primary'"></pr-icon>
                  <span>请确保 Secret 的数据字段包含 <code>tls.key</code> 和 <code>tls.crt</code> 两个键。</span>
                </div>
                <div ng-if="ctrl.formValues.Type === ctrl.KubernetesSecretTypeOptions.BOOTSTRAPTOKEN.value" class="col-sm-12 small text-muted vertical-center pt-5">
                  <pr-icon icon="'info'" mode="'primary'"></pr-icon>
                  <span
                    >请确保 Secret 的数据字段包含 <code>token-id</code> 和 <code>token-secret</code> 两个键。可选键请参阅 Kubernetes 文档中的
                    <a href="https://kubernetes.io/docs/concepts/configuration/secret/#bootstrap-token-secrets" target="_blank">bootstrap token secrets 引导令牌密钥</a>。</span
                  >
                </div>
              </div>
              <div class="form-group" ng-if="ctrl.formValues.Type === ctrl.KubernetesSecretTypeOptions.CUSTOM.value">
                <label for="configuration_data_customtype" class="col-sm-3 col-lg-2 control-label required text-left">自定义类型</label>
                <div class="col-sm-8 col-lg-9">
                  <input
                    type="text"
                    data-cy="k8sConfigCreate-customType-input"
                    name="custom_type"
                    class="form-control"
                    id="configuration_data_customtype"
                    ng-model="ctrl.formValues.customType"
                    ng-pattern="/^[a-z0-9]([a-z0-9-.]{0,61}[a-z0-9])?$/"
                    required
                  />
                  <div ng-show="kubernetesConfigurationCreationForm.custom_type.$invalid">
                    <div class="help-block small text-warning">
                      <div ng-messages="kubernetesConfigurationCreationForm.custom_type.$error">
                        <p ng-message="required" class="vertical-center"><pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon> 此字段为必填项。</p>
                        <p ng-message="pattern" class="vertical-center"
                          ><pr-icon icon="'alert-triangle'" mode="'warning'" class="vertical-center"></pr-icon> 此字段必须由小写字母、数字、'-' 或 '.' 组成，最多 63 个字符，且必须以字母或数字开头和结尾。</p
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-if="ctrl.formValues.Type === ctrl.KubernetesSecretTypeOptions.SERVICEACCOUNTTOKEN.value">
                <label for="service_account" class="col-sm-3 col-lg-2 control-label required text-left">服务账号</label>
                <div class="col-sm-8 col-lg-9">
                  <select
                    class="form-control"
                    id="service_account"
                    ng-selected="$first"
                    ng-model="ctrl.formValues.ServiceAccountName"
                    ng-options="value.metadata.name as value.metadata.name for (name, value) in ctrl.availableServiceAccounts"
                    data-cy="k8sConfigCreate-serviceAccountDropdown"
                    ng-change="ctrl.onChangeServiceAccount()"
                    required
                  ></select>
                  <div class="help-block small text-warning" ng-messages="kubernetesConfigurationCreationForm.service_account.$error">
                     <p class="vertical-center" ng-message="required"> <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>此字段为必填项。</p>
                  </div>
                </div>
              </div>

              <kubernetes-configuration-data
                ng-if="ctrl.formValues"
                form-values="ctrl.formValues"
                is-docker-config="ctrl.state.isDockerConfig"
                is-valid="ctrl.state.isDataValid"
                on-change-validation="ctrl.isFormValid()"
                is-creation="true"
                type="'secret'"
                is-editor-dirty="ctrl.state.isEditorDirty"
              ></kubernetes-configuration-data>

              <div class="form-group" ng-if="ctrl.state.secretWarningMessage">
                <div class="col-sm-12 small text-warning vertical-center pt-5">
                  <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                  <span>{{ ctrl.state.secretWarningMessage }}</span>
                </div>
              </div>
            </div>

            <!-- summary -->
            <kubernetes-summary-view
              ng-if="!(!kubernetesConfigurationCreationForm.$valid || !ctrl.isFormValid() || ctrl.state.actionInProgress)"
              form-values="ctrl.formValues"
            ></kubernetes-summary-view>

            <!-- actions -->
            <div class="col-sm-12 form-section-title" style="margin-top: 10px"> 操作 </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button
                  type="button"
                  class="btn btn-primary btn-sm !ml-0"
                  ng-disabled="!kubernetesConfigurationCreationForm.$valid || !ctrl.isFormValid() || ctrl.state.actionInProgress || !ctrl.formValues.ResourcePool"
                  ng-click="ctrl.createConfiguration()"
                  button-spinner="ctrl.state.actionInProgress"
                  data-cy="k8sConfigCreate-CreateConfigButton"
                >
                  <span ng-hide="ctrl.state.actionInProgress">创建{{ ctrl.formValues.Kind | kubernetesConfigurationKindText }}</span>
                  <span ng-show="ctrl.state.actionInProgress">创建中...</span>
                </button>
              </div>
            </div>
            <!-- !actions -->
          </form>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
</div>
